/*.navbar-font {
    font-family: 'Josefin Sans', sans-serif;
}*/


body {
    background: url(images/hook.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

